.hero-content {
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 40% 58%;
  align-items: center;
  gap: 2rem;
  .text-box {
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 3rem;
      text-transform: uppercase;
      color: #df6951;
    }
    h1 {
      font-family: "Volkhov";
      font-style: normal;
      font-weight: 700;
      font-size: 8.4rem;
      line-height: 8.9rem;
      letter-spacing: -0.04em;
      margin: 2.5rem 0;
      color: #181e4b;
      position: relative;
      span {
        position: absolute;
        top: 6rem;
        right: -13rem;
        z-index: -1;
      }
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      line-height: 3rem;
      color: #5e6282;
    }
    .btn-list {
      display: flex;
      margin-top: 3rem;
      gap: 4rem;
      .btn {
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          position: relative;
          top: 7px;
        }
      }
      .btn-cta {
        background: #f1a501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
        border-radius: 1rem;
        padding: 1.8rem 2.6rem;
        border: none;
        // font-family: "Google Sans";
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.3rem;
        text-align: center;
        color: #ffffff;
      }
      .btn-play-demo {
        display: flex;
        align-items: center;
        gap: 2rem;
        border: none;
        background-color: inherit;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 2.6rem;
        color: #686d77;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 5.2rem;
          height: 5.1rem;
          border-radius: 5rem;
          background-color: #df6951;
        }
      }
    }
  }
  .image-box {
    // border: 2px solid black;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 53.2em) {
  .hero-content {
    grid-template-columns: 1fr;
    .text-box {
      text-align: center;
      margin-top: 4rem;
      padding: 0 12rem;
      grid-row-start: 2;
      h1 {
        margin: 1rem 0;
        span {
          top: 7rem;
        }
      }
      .btn-list {
        justify-content: center;
        gap: 3rem;
      }
    }
  }
}
@media (max-width: 42em) {
  .hero-content {
    .text-box {
      padding: 0 4rem;
    }
  }
}
