.section-testimonial {
  margin-bottom: 10rem;
  .text-box {
    // padding: 4rem;
    .title {
      text-align: start;
    }
    .heading-secondary {
      text-align: start;
      margin: 0;
      color: #14183e;
    }
  }
}
