@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 124.5%;
  color: #5e6282;
}
/* re use class */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: #5e6282;
}
.heading-secondary {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.4rem;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
  margin: 2rem 0 8rem 0;
}
.grid {
  display: grid;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}
/* @media (min-width: 1500px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 1650px) {
  html {
    font-size: 80%;
  }
} */
